body {
    padding: 30px;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#toDoList {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

ul {
    list-style: none;
}

.btn-close {
    width: 1px;
}

#check {
    -webkit-transform: scale(2);
    margin-right: 20px;
    margin-bottom: 11px;
}

#label {
    font-size: xx-large;
    margin-bottom: 60px;
}

#label:hover {
    color: gray;
}

.btn-close {
    -webkit-transform: scale(1.4);
    margin-left: 10px;

}

#borrar:hover {
    background-color: rgb(250, 33, 33);
    cursor: pointer;

}
